body {
  padding: 0;
  background-color: #f6f5f5;
}
h1 {
  color: #495e57;
  font-size: 44px;
}
h2 {
  color: #495E57;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  color: #fff;
  border: 1px solid #36ba98;
  padding: 8px;
  text-align: center;
  background-color: #77e4c8;
}
th {
  background-color: #131842;
}
