/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

/* Fontes utilizadas:
  - Merriweather: H2
  - Open Sans: H3
  - Oswald: H1
  - Roboto: Textos
*/

body {
  background: rgb(255, 242, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 242, 216, 1) 17%,
    rgba(188, 163, 127, 1) 68%,
    rgba(234, 215, 187, 1) 91%
  );
  margin: 0;
  padding: 0;
}

/* Header */

.nav-bar {
  background: rgb(255, 242, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 242, 216, 1) 28%,
    rgba(250, 238, 209, 1) 47%,
    rgba(234, 215, 187, 1) 76%
  );
  background-image: url(../img/logo2.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.9rem;
  border-bottom: 0.8rem solid #040d12;
  box-sizing: border-box;
}

.titulo-principal {
  font-family: 'Oswald', sans-serif;
  color: #040d12;
  flex: 1;
  text-align: center;
  margin-right: auto;
  margin-left: 14rem;
  font-size: 4rem;
  padding: 0 1rem;
}

.nav-bar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-bar ul li {
  margin-left: 0.9rem;
}

.nav-bar a {
  font-family: 'Open Sans', sans-serif;
  color: #040d12;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.nav-bar a:hover,
.nav-bar a:focus {
  color: #ffffff;
}


/* Header */

/* Main */

.main-principal {
  margin: 1.5rem;
  display: grid;
  justify-content: center;
  padding: 1.5rem;
}

h2 {
  margin-left: 1.5rem;
  font-size: 2.8rem;
  font-family: 'Merriweather', sans-serif;
}

section {
  margin: 1.5rem;
}

section:hover {
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  cursor: pointer;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  font-size: 1.2rem;
  background: rgb(245,247,248);
  background: linear-gradient(90deg, rgba(245,247,248,1) 11%, rgba(233,245,245,1) 35%, rgba(238,245,255,1) 81%);
  border: 0.3rem solid #040d12;
  gap: 0.8rem;
  border-radius: 0.8rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.main-text {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}


/* footer */

.footer {
  background: rgb(255, 242, 216);
  background: linear-gradient(
    90deg,
    rgba(255, 242, 216, 1) 28%,
    rgba(250, 238, 209, 1) 47%,
    rgba(234, 215, 187, 1) 76%
  );
  padding: 1.5rem;
  text-align: center;
  border-top: 0.8rem solid #040d12;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.footer-links {
  margin-bottom: 0.8rem;
}

.footer-links a {
  font-family: 'Open Sans', sans-serif;
  color: #040d12;
  font-size: 1.7rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  margin: 1.5rem;
}

.footer-links a:hover, 
.footer-links a:focus {
  color: #ffffff;
}

.social-icon {
  margin: 0 0.4rem;
  display: inline-block;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.footer-bottom {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #040d12;
}

/* Responsividade */


@media (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .nav-bar {
    padding: 0.6rem;
  }

  .titulo-principal {
    font-size: 3rem;
  }

  .nav-bar a {
    font-size: 1.4rem;
  }

  .main-principal {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sobre {
    flex-direction: column;
    align-items: column;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .main-text {
    font-size: 1.6rem;
    margin: 0;
  }
  
}

@media (max-width: 450px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.3rem;
    background-size: 12rem;
    width: 100%;
  }

  .titulo-principal {
    font-size: 1.6rem;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 8rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .nav-bar ul li {
    margin: 0.3rem 0;
  }

  .nav-bar a {
    font-size: 1.2rem;
  }

}

@media (max-width: 320px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.55rem;
    background-size: 10rem;
    width: 100%;
  }

  .titulo-principal {
    font-size: 1.4rem;
    margin-inline-end: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 8rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .nav-bar ul li {
    margin: 0.3rem 0;
  }

  .nav-bar a {
    font-size: 1.4rem;
  }

}