body {
  background-color: #2f3645;
  padding: 12rem;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
  color: #00a9ff;
}

form label {
  font-size: 1.6rem;
  color: #a0e9ff;
}

::placeholder {
  color: #000;
}

hr {
  width: 26rem;
}

footer {
  color: #00a9ff;
}
