body {
  background-color: #088395;
  text-align: center;
  
}

h1, h2 {
  font-family: sans-serif;
  color: #88fa07;
  font-size: 23px;
  
}
p {
  padding: 20px;
  color: #2F3645;
}
.centralizado {
padding-left: 0;
list-style-position: inside;
}
